body{
    background-image: url(/images/pexels-kseniachernaya-3952043.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.5); /* Semi-transparent black overlay */
}

.page{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: 1; /* Ensure content is above overlay */
    color: rgb(0, 0, 0);
    padding: 20px;
}

.h1{
    font-size: 46px;
    text-align: center;
    margin-top: 100px;
}
h2{
    text-align: center;
    font-size: xx-large;
}

.intro{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}

p{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    font-weight: 500;
}


.button{
    
    color: #ffffffdb;
    background-color: #5995DA;    /* Blue */
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: large;
    margin: 40px;
    width: 200px;
    margin: 20px auto;
    text-decoration: none;
}


.button:hover
{
    background-color: #71a5df;   

}
.button:visited:hover{
    background-color: #71a5df;
    color: white;
    
}

a:visited {
    color: inherit; /* Inherit the color from their parent */
    text-decoration: none;
}

a{
    text-decoration: none;
}

#food {
color: black;
}

.list-style{
    font-size: 24px;
    text-align: center;
    color: rgb(151, 30, 87);
    font-weight: bolder;
    margin-left: 10px;
}

.greybox{
    border-radius: 20px;
    background-color:rgba(10, 124, 63, 0.4);
    padding: 6px;
    margin: 40px;
    font-size: 18px;
    text-align: left;
    font-weight: bolder;
    text-decoration: none; color: rgb(0, 23, 12);
}

.list-style a{
    text-decoration: none;
}
 